<h1>Travel</h1>
<%#= link_to "Train visiting stations", train_visiting_stations_path %>
<p>Select trains between stations</p>
<%= render :partial => "form" %><br />
<%= render :partial => "stations_list" %>
<%= render :partial => "trains_list" %>